
footer#main-footer {
    background: #262626;
    padding: 60px 0 30px 0;
    color: #e6e6e6;
    font-size: 11px;
    line-height: 1.4em;
    margin-top: 0;
}

footer#main-footer .logo {
    margin-bottom: 15px;
}

footer#main-footer a,
footer#main-footer h1,
footer#main-footer h2,
footer#main-footer h3,
footer#main-footer h4,
footer#main-footer h5 {
    color: #fff;
}

footer#main-footer .form-control {
    background: #121212;
    border-color: #000;
    color: #fff;
}

footer#main-footer .form-control:focus {
    border-color: #ed8323;
}

.list-footer > li {
    margin-bottom: 5px;
}

.list-footer > li > a:hover {
    text-decoration: underline;
}
