<div class="nav" #navbar id="nav" [@visibility]="visibility" (hover)="onHover">
  <ul class="slimmenu" id="slimmenu">
    <li class="slimmenu-sub-menu" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
      <a [routerLink]=" ['./'] " routerLinkActive="active">Home</a>
    </li>

    <li *ngFor=" let menuItem of menuItems " class="slimmenu-sub-menu"
        routerLinkActive="active">
      <a [routerLink]=" [menuItem.route] " routerLinkActive="active" translate>{{menuItem.name}}</a>
    </li>
  </ul>
</div>
