<div class="destination-item col-md-3" (click)="navigate()" >
  <div class="thumb">
    <header class="thumb-header">
      <a class="hover-img curved">
        <img src="{{destination?.imageUrl}}"
             alt="{{destination?.name}}"
             title="{{destination?.name}}"/><i
        class="fa fa-plus box-icon-white box-icon-border hover-icon-top-right round"></i>
      </a>
    </header>
    <div class="thumb-caption">
      <h4 class="thumb-title">{{destination?.name}}</h4>
      <p class="thumb-desc">{{destination?.desc}}</p>
    </div>
  </div>
</div>
