<agm-map [latitude]="map.lat" [longitude]="map.lng" [zoom]="map.zoom" [scrollwheel]="map.scrollwheel">
    <agm-marker [latitude]="map.lat" [longitude]="map.lng"></agm-marker>
</agm-map>


<div class="container">
    <div class="gap"></div>
    <div class="row">
        <div class="col-md-7">
            <p>Inceptos hac sagittis sit elit primis iaculis arcu quam justo per primis tempus ad iaculis cursus
                condimentum nullam pretium dui id sit lacus duis dignissim primis potenti aliquam malesuada
                ullamcorper</p>
            <p>Euismod volutpat risus luctus id varius volutpat adipiscing porttitor egestas nisl nunc luctus phasellus
                nibh tristique lacinia penatibus justo urna</p>
            <form class="mt30">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>E-mail</label>
                            <input class="form-control" type="text"/>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label>Message</label>
                    <textarea class="form-control"></textarea>
                </div>
                <input class="btn btn-primary" type="submit" value="Send Message"/>
            </form>
        </div>
        <div class="col-md-4">
            <aside class="sidebar-right">
                <ul class="address-list list">
                    <li>
                        <h5>Email</h5>
                        <a href="#">{{contacts.email}}</a>
                    </li>
                    <li>
                        <h5>Phone Number</h5>
                        <div *ngFor="let numb of contacts.phone">
                            <a>{{numb}}</a>
                        </div>
                    </li>
                    <li>
                        <h5>Skype</h5>
                        <a href="#">{{contacts.skype}}</a>
                    </li>
                    <li>
                        <h5>Address</h5>
                        <address [innerHTML]="contacts.address"></address>
                    </li>
                </ul>
            </aside>
        </div>
    </div>
    <div class="gap"></div>
</div>

