<div class="col-md-4">
    <div class="booking-item booking-item-small" (click)="navigate()">
        <div class="row">
            <div class="col-xs-3">
                <img [src]="'assets/img/flags/128/' + country.code.toLowerCase() + '.png'" [alt]="alt" [title]="country.name"/>
            </div>
            <div class="col-xs-5">
                <h5 class="booking-item-title">{{country.name}}</h5>
            </div>
        </div>
    </div>
</div>
