<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="form-group form-group-icon-right"><i class="fa fa-map-marker input-icon"></i>
                <label>Look for:</label>
                <input (input)="search$.next($event.target.value)" class="form-control" placeholder="Write something" type="text"/>
            </div>
        </div>
    </div>

    <div class="row" >
        <country-card  *ngFor="let country of countries" [country]="country">
        </country-card>
    </div>
</div>
