<!--<edem-destination-carusel></edem-destination-carusel>-->
<div class="gap"></div>
<edem-last-minute-deal></edem-last-minute-deal>
<div class="gap"></div>
<edem-coutry-carusel></edem-coutry-carusel>
<div class="gap"></div>
<edem-last-minute-deal></edem-last-minute-deal>
<div class="gap"></div>
<edem-top-destinations></edem-top-destinations>


<div class="gap"></div>
<button class="btn btn-primary btn-lg" (click)="onCountriesSave()" type="submit">Save countries</button>
<div class="gap"></div>



<div class="gap"></div>
