<div class="bg-holder">
  <div class="bg-mask"></div>
  <div class="bg-parallax"
       style="background-image: url(&quot;assets/img/hotels/Turkey_Belek_BELLIS_DELUXE_HOTEL_5_pool.jpg&quot;);
       background-position: 50% -52.8px;">
  </div>
  <div class="bg-content">
    <div class="container">
      <div class="gap gap-big text-center text-white">
        <h2 class="text-uc mb20">{{offer.title}}</h2>
        <ul class="icon-list list-inline-block mb0 last-minute-rating">
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
          <li><i class="fa fa-star"></i></li>
        </ul>
        <h5 class="last-minute-title">{{getHotelName()}}</h5>
        <p class="last-minute-date">
          <span>{{offer.dateFrom | date: 'mediumDate'}}</span> - <span>{{offer.dateTo | date: 'mediumDate'}}</span>
        </p>
        <p class="mb20" [innerHTML]="getPrice()"></p><a class="btn btn-lg btn-white btn-ghost" href="#">Book Now <i class="fa fa-angle-right"></i></a>
      </div>
    </div>
  </div>
</div>
