<div class="container">
  <h2 class="text-center">Top Destinations</h2>
  <div class="gap">  </div>
    <div class="row row-wrap">
      <edem-top-destinaetions-item *ngFor="let destination of topDestinations" [destination]="destination ">
      </edem-top-destinaetions-item>
    </div>
</div>
