<div class="owl-carousel owl-slider owl-carousel-area" id="owl-carousel-slider">
  <div class="bg-holder full text-center text-white">
    <div class="bg-mask"></div>
    <div class="bg-img" style="background-image:url(assets/img/mock/2048x1365.png);"></div>
    <div class="bg-front full-center">
      <div class="owl-cap">
        <div class="owl-cap-weather"><span>+25</span><i class="im im-cloudy"></i>
        </div>
        <h1 class="owl-cap-title fittext">Las Vegas</h1>
        <div class="owl-cap-price">
          <small>from</small>
          <h5>$2600</h5>
        </div>
        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Explore</a>
      </div>
    </div>
  </div>
  <div class="bg-holder full text-center text-white">
    <div class="bg-mask"></div>
    <div class="bg-img" style="background-image:url(assets/img/mock/2048x1365.png);"></div>
    <div class="bg-front full-center">
      <div class="owl-cap">
        <div class="owl-cap-weather"><span>+22</span><i class="im im-rain"></i>
        </div>
        <h1 class="owl-cap-title fittext">Paris</h1>
        <div class="owl-cap-price">
          <small>from</small>
          <h5>$2000</h5>
        </div>
        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Explore</a>
      </div>
    </div>
  </div>
  <div class="bg-holder full text-center text-white">
    <div class="bg-mask"></div>
    <div class="bg-img" style="background-image:url(assets/img/mock/2048x2048.png);"></div>
    <div class="bg-front full-center">
      <div class="owl-cap">
        <div class="owl-cap-weather"><span>+31</span><i class="im im-cloudy"></i>
        </div>
        <h1 class="owl-cap-title fittext">Budapest</h1>
        <div class="owl-cap-price">
          <small>from</small>
          <h5>$2800</h5>
        </div>
        <a class="btn btn-white btn-ghost" href="#"><i class="fa fa-angle-right"></i> Explore</a>
      </div>
    </div>
  </div>
</div>

